<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IosWeatherApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECFFA0AB1CB24F140044B949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECFFA0C41CB24F150044B949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECFFA0CF1CB24F150044B949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
